:root {
	--color-primary: #0c1500;
	--color-secondary: #f6ffeb;
	--color-tertiary: #8dff00;
	--header-background: #294800;
	--logo-font: "Nunito Sans", sans-serif;
	--subtitle-font: "Raleway", sans-serif;
}

html {
	font-family: sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--color-secondary);
	background-color: var(--color-primary);
	overflow: hidden scroll;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 4rem;

	background-color: var(--header-background);
	position: fixed;
	min-width: 100vw;
	z-index: 99;
	/* border: 1px solid white; */
}

.logo {
	/* border: 1px solid black; */
	display: flex;

	align-items: center;
	justify-content: center;
}

.logo span {
	font-size: 3rem;
	/* font-kerning: 1rem; */
	font-family: var(--logo-font) !important;
}

nav {
	/* border: 1px solid white; */
	display: flex;
}

nav ul {
	display: flex;

	align-items: center;
	justify-content: center;
	/* justify-content: space-between; */
	/* padding: 1rem; */
}
nav ul li {
	list-style: none;
	padding: 1rem;
}

a {
	text-decoration: none;
	color: var(--color-secondary);
	font-size: 1.2rem;
}

section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 3;
}

#about {
	align-content: space-around;
	/* z-index: 2; */
}

#about article {
	margin: 0px 1.4rem;
	/* border: 1px solid white; */
	max-width: 60%;
	background-color: #0c150046;
}

#title {
	font-size: 6.5rem;
	font-weight: 200;
}

#subtitle {
	font-family: var(--subtitle-font);
	font-weight: 100;
	font-size: 2rem;
	margin: 0.5rem 0;
}
.title_div {
	/* border: 1px solid lime; */
	margin: -1rem 0 !important;
}

.align-right {
	display: flex;
	align-items: right;
	justify-content: right;
}

.align-left {
	display: flex;
	align-items: left;
	justify-content: left;
}

#canvas {
	/* border: 1px solid white; */
	/* min-height: 100vh; */
	/* min-width: 100vw; */
	position: fixed;
	z-index: 1;
	top: 0;
	/* top: 1px; */
	filter: blur(5px);
	/* bottom: 1px;
	left: 1px; */
	/* right: 50px; */
}
